<div class="card text-center no-hover">
    <div class="header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="btn btn-light" asp-area="Administration" asp-controller="Administration" asp-action="ManageUsers">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" asp-area="Administration" asp-controller="Administration" asp-action="ManageCategories">Manage Categories</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Site Statistics</h5>
    </div>
</div>
