@model ScrapBookProject.Web.ViewModels.Administration.CreateCategoryInputModel 

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl" class="form-control" />
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary btn-pill" data-toggle="modal" data-target="#createModal">Done!</button>
    </div>
</form>
