@model ScrapBookProject.Web.ViewModels.ScrapBooks.CreateScrapBookInputModel
@{
    this.ViewData["Title"] = "Create a ScrapBook";
}
<h1 class="text-center">Create a ScrapBook!</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoverUrl"></label>
        <input asp-for="CoverUrl" class="form-control" />
        <span asp-validation-for="CoverUrl" class="text-danger"></span>
    </div>
    <div class="offset-5">
        <input type="submit" class="btn btn-outline-primary btn-pill" />
    </div>
</form>