@model ICollection<ScrapBookProject.Web.ViewModels.ScrapBooks.ScrapBookViewModel>
@{
    this.ViewData["Title"] = "Your ScrapBooks";
}
<h1 class="text-center">Here are your ScrapBooks!</h1>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Cover</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr class="tr">
                <td><img src="@book.CoverUrl" alt="@book.CoverUrl" width="120" height="185"></td>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>
                    <a href="/Pages/Pages/@book.Id"> View </a> |
                    <a href="/Movies/Details/4"> Details </a> |
                    <a href="/Movies/Delete/4"> Delete </a>
                </td>
            </tr>

        }
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form method="get" asp-controller="ScrapBooks" asp-action="Create">
                <button class="btn btn-outline-primary btn-pill">Create a ScrapBook!</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".tr").hover(function () {
            $(this).css("background-color", "lightgrey");
        }, function () {
            $(this).css("background-color", "white");
        });
    </script>
}
