<h1 class="text-center">Here are your ScrapBooks!</h1>

<div class="container">
    <div class="text-center">
        <a class="border border-primary rounded-pill rounded-lg bg-primary text-white" asp-controller="ScrapBooks" asp-action="Create">Create a ScrapBook!</a>
    </div>
</div>

