@model ScrapBookProject.Web.ViewModels.Pages.CreatePageInputModel
@{
    this.ViewData["Title"] = "Add a page";
}
<h1 class="text-center">Write something for your page!</h1>
<form id="myForm" method="post">
    <textarea id="mytextarea" name="Content" rows="21">
      
    </textarea>
    <div class="text-center">
        <button id="btnSave" type="submit" class="btn btn-outline-primary btn-pill">Done!</button>
    </div>
</form>

@section Scripts
{
    <script>

        var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

        tinymce.init({
            selector: '#mytextarea',
            plugins: 'preview paste searchreplace autolink autosave save directionality visualblocks visualchars fullscreen image link charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern help charmap quickbars emoticons',
            menubar: 'edit view insert format tools help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print |image media template link anchor codesample | ltr rtl',
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            importcss_append: true,
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            noneditable_noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            skin: useDarkMode ? 'oxide-dark' : 'oxide',
            content_css: useDarkMode ? 'dark' : 'default',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });


    </script>
    <script>

        $(function () {
            var validator = $("#myForm").submit(function () {
                // update underlying textarea before submit validation
                tinyMCE.triggerSave();
            }).validate({
                ignore: "",
                rules: {

                    content: "required",
                });
        }
    </script>
} 